<%= render "search_form" %>
<div class="col-md-12 paper-box">
<table class="table table-hover">
  <thead>
    <tr>
      <th>first Name</th>
      <th>last name</th>
      <th>phone</th>
      <th colspan="3"></th>
    </tr>   
  <tbody>
    <% @bill_conts.each do |product| %>
    <tr>
      <td><%= product.first_name %></td>
      <td><%= product.last_name %></td>
      <td><%= product.name %></td>
      <td><%= product.paid? ? "\u2713" : "\u2717" %></td>
      <td><%= product.created_at.strftime("%d %b. %Y") %></td>
    </tr>
    <% end %>
  </tbody>  
  </thead>
</table>
</div>