<%= search_form_for @search, :html => {:class => "form-inline center"} do |f| %>
	<div class="form-group">
	<%= f.label :customer_first_name_cont, "First name", class: "sr-only" %>
	<%= f.search_field :customer_first_name_cont, class: "form-control", placeholder: "First name"  %>
	</div>
	<div class="form-group">
	<%= f.label :customer_last_name_cont, "last name", class: "sr-only" %>
	<%= f.search_field :customer_last_name_cont, class: "form-control", placeholder: "Last name" %>
    </div>
    <div class="form-group">
	<%= f.label :room_number_cont, "room", class: "sr-only" %>
	<%= f.search_field :room_number_cont, class: "form-control", placeholder: "Room number" %>
    </div>
    <div class="form-group">
    <%= f.label :created_at_in, "Start" %>
    <%= f.date_field :created_at_gteq, class: 'form-control input-sm myform', 'datepicker' => true %>
    </div>
    <div class="form-group">
    <%= f.label :created_at_in, "End" %>
    <%= f.date_field :created_at_lteq, class: 'form-control input-sm myform', 'datepicker' => true %>
	</div>
	<%= f.submit "\u2315", class: "form-control" %>
<% end %><br>