<%= render "search_form" %>
<div class="col-md-12 paper-box">
<table class="table table-hover">
  <thead>
    <tr>
      <th>first Name</th>
      <th>last name</th>
      <th>phone</th>
      <th colspan="3"></th>
    </tr>   
  <tbody>
    <% @book_rooms.order("created_at DESC").each do |product| %>
    <tr>
      <td><%= product.first_name %></td>
      <td><%= product.last_name %></td>
      <td><%= product.phone_number %></td>
      <td><%= product.room_number %></td>
      <td><%= product.checked_out? ? "\u2717" : "\u2713" %></td>
      <td><%= product.created_at.strftime("%d %b. %Y") %></td>
    </tr>
    <% end %>
  </tbody>  
  </thead>
</table>
</div>