<%= render "search_form" %>
<div class="col-md-12 paper-box">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th>Room number</th>
      <th>Status</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>   
  <tbody>
    <% @book_rooms.order("created_at DESC").each do |b| %>
    <tr>
      <td><%= b.customer_first_name %> <%= b.customer_last_name %></td>
      <td><%= b.phone_number %></td>
      <td><%= b.room_number %></td>
      <td><%= b.checked_out? ? "\u2717" : "\u2713" %></td>
      <td><%= b.created_at.strftime("%d %b. %Y") %></td>
      <td><%= link_to "Open", customer_path(b.customer_id), class: "btn btn-primary btn-xs" %></td>
    </tr>
    <% end %>
  </tbody>  
  </thead>
</table>
</div>