<div class="container">
<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :first_name, class: "col-xs-2 col-form-label" %>
    <div class="col-xs-3">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :last_name, class: "col-xs-2 col-form-label" %>
    <div class="col-xs-3">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :phone_number, class: "col-xs-2 col-form-label" %>
    <div class="col-xs-3">
      <%= f.text_field :phone_number, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :sex, class: "col-xs-2 col-form-label" %>
    <div class="col-xs-3">
      <%= f.select :sex, {'m' => "male", 'f' => "female"}%>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label "Passport datapage", class: "col-xs-2 col-form-label" %>
    <div class="col-xs-3">
      <%= f.file_field :avatar %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
