<%= render "bill_search" %>
<div class="col-md-12 paper-box">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Room</th>
      <th>Deposit</th>
      <th>Credit</th>
      <th>Balance</th>
      <th>Paid</th>
      <th>In</th>
      <th>Out</th>
      <th colspan="3"></th>
    </tr>   
  <tbody>
    <% @bill_conts.each do |b| %>
    <% if b.rollback == nil %>
    <tr>
      <td><%= b.customer_first_name %> <%= b.customer_last_name %></td>
      <td><%= b.name %></td>
      <% @deposit = b.bills.sum(:deposit) %>
      <% @credit = b.bills.sum(:bill_price) %>
      <% @balance = @deposit - @credit %>
      <td><%= @deposit %> </td>
      <td><%= @credit %> </td>
      <td><%= @balance %></td>
      <td><%= b.paid? ? "\u2713" : "\u2717" %></td>
      <td><%= b.created_at.strftime("%d %b. %y") %></td>
      <td><%= (b.created_at + b.bills.first.days.days).strftime("%d %b.") %></td>
      <td><%= link_to 'Open', bill_container_path(b), class: "btn btn-primary btn-xs" %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>  
  </thead>
</table>
</div>