<p id="notice"><%= notice %></p>
<div class="col-md-12 paper-box" style="margin-bottom:0; background-color:#fdf5e7; box-shadow:none">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
      <%= render "search_form_cust" %>
      </div>
      <div class="col-md-6 add-customer-container">
      <a id="cust_button" class="glyphicon glyphicon-plus" id="hello" style="margin-top:5px; float:left; color:#27ae60"></a>
      </div>
    </div>
    <% cache @c do %>
    <% @c.each_with_index do |customer, index| %>
    <div id="myModalz" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="container">
          <button id="button2<%= index %>"  class="btn btn-default btn-xs">2nd room</button><br>
          <button id="button3<%= index %>"  class="btn btn-default btn-xs">3rd room</button><br>
          <button id="button4<%= index %>"  class="btn btn-default btn-xs">4th room</button><br>
          <button id="button5<%= index %>"  class="btn btn-default btn-xs">5th room</button><br>
          <button id="button6<%= index %>"  class="btn btn-default btn-xs">6th room</button><br>
          <button id="button7<%= index %>"  class="btn btn-default btn-xs">7th room</button><br>
          <button id="button8<%= index %>"  class="btn btn-default btn-xs">8th room</button><br>
          <button id="button9<%= index %>"  class="btn btn-default btn-xs">9th room</button><br>
          <button id="button10<%= index %>"  class="btn btn-default btn-xs">10th room</button><br>
        </div>
      </div>
    </div>
    </div>
      <%= link_to customer do %>
      <div class="col-md-3 profile-paper" style="position:static !important;">
        <div class="col-md-3">
          <span class="glyphicon glyphicon-user"></span>
        </div>
        <div class="col-md-9">
          <p><%= customer.first_name %> <%= customer.last_name %></p>
          <p><%= customer.phone_number %></p>
          <a id="bookbutton<%= index %>" class="btn btn-primary btn-xs">
          Book Room
        </a>
        </div>
        <div id="bookdialog<%= index %>" class="book-room-dialog-cust">
          <%= form_for [customer, customer.book_rooms.build] do |f| %>
          <% @room = Room.all %>
          <div id="container<%= index %>">
            <div class="form-group row" style="margin-top:20px">
              <%= f.label "Room: ", class: "col-xs-2 col-form-label"%>
              <div class="col-xs-1">
                <%= f.select(:room, @room.collect { |a| [a.room_number, a.id] }, :prompt => "Select room") %><br>
              </div>
              <a type="button" style="margin-left:80px" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModalz">
              Book more rooms
            </a>
            <a type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal20">
              Available rooms
            </a>
            <script>
              $("#button2<%= index %>").click(function () {
                $(this).prop('disabled', true);
                $("#container<%= index %>").append('<div class="form-group row" style="margin-top:20px"><%= f.label "Room2: ", class: "col-xs-2 col-form-label"%><div class="col-xs-1"><%=escape_javascript( f.select(:room2, @room.collect { |a| [a.room_number, a.id] }, :prompt => "Select room")) %><br></div></div>');
                return false;
              });
              $("#button3<%= index %>").click(function () {
                $(this).prop('disabled', true);
                $("#container<%= index %>").append('<div class="form-group row" style="margin-top:20px"><%= f.label "Room3: ", class: "col-xs-2 col-form-label"%><div class="col-xs-1"><%=escape_javascript( f.select(:room3, @room.collect { |a| [a.room_number, a.id] }, :prompt => "Select room")) %><br></div></div>');
                return false;
              });
              $("#button4<%= index %>").click(function () {
                $(this).prop('disabled', true);
                $("#container<%= index %>").append('<div class="form-group row" style="margin-top:20px"><%= f.label "Room4: ", class: "col-xs-2 col-form-label"%><div class="col-xs-1"><%=escape_javascript( f.select(:room4, @room.collect { |a| [a.room_number, a.id] }, :prompt => "Select room")) %><br></div></div>');
                return false;
              });
              $("#button5<%= index %>").click(function () {
                $(this).prop('disabled', true);
                $("#container<%= index %>").append('<div class="form-group row" style="margin-top:20px"><%= f.label "Room5: ", class: "col-xs-2 col-form-label"%><div class="col-xs-1"><%=escape_javascript( f.select(:room5, @room.collect { |a| [a.room_number, a.id] }, :prompt => "Select room")) %><br></div></div>');
                return false;
              });
              $("#button6<%= index %>").click(function () {
                $(this).prop('disabled', true);
                $("#container<%= index %>").append('<div class="form-group row" style="margin-top:20px"><%= f.label "Room6: ", class: "col-xs-2 col-form-label"%><div class="col-xs-1"><%=escape_javascript( f.select(:room6, @room.collect { |a| [a.room_number, a.id] }, :prompt => "Select room")) %><br></div></div>');
                return false;
              });
              $("#button7<%= index %>").click(function () {
                $(this).prop('disabled', true);
                $("#container<%= index %>").append('<div class="form-group row" style="margin-top:20px"><%= f.label "Room7: ", class: "col-xs-2 col-form-label"%><div class="col-xs-1"><%=escape_javascript( f.select(:room7, @room.collect { |a| [a.room_number, a.id] }, :prompt => "Select room")) %><br></div></div>');
                return false;
              });
              $("#button8<%= index %>").click(function () {
                $(this).prop('disabled', true);
                $("#container<%= index %>").append('<div class="form-group row" style="margin-top:20px"><%= f.label "Room8: ", class: "col-xs-2 col-form-label"%><div class="col-xs-1"><%=escape_javascript( f.select(:room8, @room.collect { |a| [a.room_number, a.id] }, :prompt => "Select room")) %><br></div></div>');
                return false;
              });
              $("#button9<%= index %>").click(function () {
                $(this).prop('disabled', true);
                $("#container<%= index %>").append('<div class="form-group row" style="margin-top:20px"><%= f.label "Room9: ", class: "col-xs-2 col-form-label"%><div class="col-xs-1"><%=escape_javascript( f.select(:room9, @room.collect { |a| [a.room_number, a.id] }, :prompt => "Select room")) %><br></div></div>');
                return false;
              });
              $("#button10<%= index %>").click(function () {
                $(this).prop('disabled', true);
                $("#container<%= index %>").append('<div class="form-group row" style="margin-top:20px"><%= f.label "Room10: ", class: "col-xs-2 col-form-label"%><div class="col-xs-1"><%=escape_javascript( f.select(:room10, @room.collect { |a| [a.room_number, a.id] }, :prompt => "Select room")) %><br></div></div>');
                return false;
              });
            </script>
              </div>
            </div>
            <div class="form-group row">
            <%= f.label :days, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-3">
              <%= f.number_field :days, class: "form-control" %><br>
            </div>
            </div>
            <div class="form-group row">
            <%= f.label :discount, class: "col-xs-2 col-form-label" %>
            <div class="col-xs-3">
              <%= f.check_box :discount, class: "form-control" %><br>
            </div>
            </div>
            <div class="form-group row">
            <%= f.label "Discount amount", class: "col-xs-2 col-form-label" %>
            <div class="col-xs-3">
              <%= f.number_field :disc_amount, class: "form-control" %><br>
            </div>
            </div>
            <div class="form-group row">
            <%= f.label "midnight?", class: "col-xs-2 col-form-label" %>
            <div class="col-xs-3">
              <%= f.check_box :midnight, class: "form-control" %><br>
            </div>
            </div>
            <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
    <% end %>
  </div>
</div>

<div id="add_customer" class="book-room-dialog" style="margin-top:10%">
<%= render 'form', customer: @customer %>
<%= link_to "\u2190", customers_path %>
</div>

<div class="col-md-12">
  <div class="row">
    <div id="header-bills" class="box-header">
      <span class="glyphicon glyphicon-exclamation-sign"></span> Unpaid Bills
    </div>
    <div id="header-books" class="box-header head--not-active">
      <span class="glyphicon glyphicon-calendar"></span> Checkouts <a href="" type="button" data-toggle="modal" data-target="#myModalexpand2"><a href="" type="button" data-toggle="modal" data-target="#myModalexpand2"><span class="glyphicon glyphicon-zoom-in"></span></a></a>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="row">
<!------------------------------------------------------------------

      RECENT Bills

------------------------------------------------------------------>
    <div id="rec--bills" class="rec--container">
      <table id="example" class="display" cellspacing="0" width="100%">
    <thead>
          <tr>
            <th>Name</th>
            <th>Room</th>
            <th>Deposit</th>
            <th>Credit</th>
            <th>Balance</th>
            <th>Open</th>
          </tr>
        </thead>
        <tbody>
          <% cache @recent_bills do %>
            <% @recent_bills.each do |recent| %>
                <% @deposit = recent.bills.sum(:deposit) %>
                <% @credit = recent.bills.sum(:bill_price) %>
                <% @balance = @deposit - @credit %>
                <tr>
                  <td><%= recent.customer_first_name %> <%= recent.customer_last_name %></td>
                  <td><%= recent.name %></td>
                  <td><%= @deposit %> </td>
                  <td><%= @credit %> </td>
                  <td><%= @balance %></td>
                  <td><%= link_to 'Open', recent, class: "btn btn-warning btn-xs" %></td>
                </tr>
            <% end %>
          <% end %>
        </tbody>
    </table>
    </div>

<!------------------------------------------------------------------

      RECENT Bookings

------------------------------------------------------------------>
    <div id="rec--bookings" class="rec--container">
        <div class="col-md-4">
        <b>Overstay</b><br>
        <nav class="scroll-nav">
        <ul>
            <% @recent_bookings.each do |recent| %>
                <% @days = distance_of_time_in_words(Time.now, recent.created_at.at_midnight) %>
                <% if (recent.created_at + recent.days.days).strftime("%d %b.") < Time.now.strftime("%d %b.") %>
                       <li>
                          <td><%= link_to recent.customer_first_name, customer_path(recent.customer_id) %> <%= recent.customer_last_name %></td>
                          <td><%= recent.room_number %></td>
                          <% if recent.midnight == false || recent.midnight == nil %>
                            <td><%= (recent.created_at + recent.days.days).strftime("%d %b.") %></td>
                          <% elsif recent.midnight == true %>
                            <td style="color:red"><%= (recent.created_at + recent.days.days).strftime("%d %b.") %> md</td>
                          <% end %>
                          <td>
                            <%= form_for recent do |f| %>
                              <%= f.hidden_field :checked_out, value: true %>
                              <%= f.submit 'Checkout', class: 'btn btn-danger btn-xs' %>
                            <% end %>
                          </td>
                          <td><%= link_to '', bill_container_path(recent.customer.bill_containers.last.id), class: "glyphicon glyphicon-btc" %></td>
                          <td><%= link_to '', edit_bill_path(recent.customer.bill_containers.last.bills.first.id), class: "glyphicon glyphicon-pencil" %></td>
                        </li>
                <% else %>
                <% end %>
            <% end %>
        </ul>
        </nav>
      </div>
      <div class="col-md-4">
        <b>Checkout today</b><br>
        <nav class="scroll-nav">
        <ul>
            <% @recent_bookings.each do |recent| %>
                <% @days = distance_of_time_in_words(Time.now, recent.created_at.at_midnight) %>
                <% if (recent.created_at + recent.days.days).strftime("%d %b.") == Time.now.strftime("%d %b.") %>
                       <li>
                          <td><%= link_to recent.customer_first_name, customer_path(recent.customer_id) %> <%= recent.customer_last_name %></td>
                          <td><%= recent.room_number %></td>
                          <% if recent.midnight == false || recent.midnight == nil %>
                            <td><%= (recent.created_at + recent.days.days).strftime("%d %b.") %></td>
                          <% elsif recent.midnight == true %>
                            <td style="color:red"><%= (recent.created_at + recent.days.days).strftime("%d %b.") %> md</td>
                          <% end %>
                          <td>
                            <%= form_for recent do |f| %>
                              <%= f.hidden_field :checked_out, value: true %>
                              <%= f.submit 'Checkout', class: 'btn btn-danger btn-xs' %>
                            <% end %>
                          </td>
                          <td><%= link_to '', bill_container_path(recent.customer.bill_containers.last.id), class: "glyphicon glyphicon-btc" %></td>
                          <td><%= link_to '', edit_bill_path(recent.customer.bill_containers.last.bills.first.id), class: "glyphicon glyphicon-pencil" %></td>
                        </li>
                <% else %>
                <% end %>
            <% end %>
        </ul>
        </nav>
      </div>
      <div class="col-md-4">
        <b>Checkout tomorrow</b><br>
        <nav class="scroll-nav">
          <ul>
          <% @recent_bookings.each do |recent| %>
                <% @days = distance_of_time_in_words(Time.now, recent.created_at.at_midnight) %>
                <% if (recent.created_at + recent.days.days).strftime("%d %b.") == (Time.now + 1.days).strftime("%d %b.") %>
                       <li>
                          <td><%= link_to recent.customer_first_name, customer_path(recent.customer_id) %> <%= recent.customer_last_name %></td>
                          <td><%= recent.room_number %></td>
                          <% if recent.midnight == false || recent.midnight == nil %>
                            <td><%= (recent.created_at + recent.days.days).strftime("%d %b.") %></td>
                          <% elsif recent.midnight == true %>
                            <td style="color:red"><%= (recent.created_at + recent.days.days).strftime("%d %b.") %> md</td>
                          <% end %>
                          <td>
                            <%= form_for recent do |f| %>
                              <%= f.hidden_field :checked_out, value: true %>
                              <%= f.submit 'Checkout', class: 'btn btn-danger btn-xs' %>
                            <% end %>
                          </td>
                          <td><%= link_to '', bill_container_path(recent.customer.bill_containers.last.id), class: "glyphicon glyphicon-btc" %></td>
                          <td><%= link_to '', edit_bill_path(recent.customer.bill_containers.last.bills.first.id), class: "glyphicon glyphicon-pencil" %></td>
                        </li>
                <% else %>
                <% end %>
            <% end %>
            </ul>
        </nav>
      </div>
  </div>
  </div>
</div>

<div id="myModalexpand2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="edit-modal">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Bookings</h4>
          </div>
          <div class="container">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Room/s </th>
                <th>Days</th>
                <th>Total</th>
                <th>Disc</th>
                <th>Stat</th>
                <th>Lodged</th>
                <th>Out</th>
                <th>Checked Out</th>
                <th colspan="3"></th>
              </tr>
            <tbody>
              <% cache @recent_bookings do %>
                <% @recent_bookings.order("created_at DESC").each do |b| %>

                  <% if b.created_at.beginning_of_day == Time.zone.now.beginning_of_day %>

                    <% if b.rollback == nil || b.rollback == false %>
                      <tr class="new--inguest">
                        <td><%= b.customer_first_name %> <%= b.customer_last_name %></td>
                        <td><%= b.phone_number %></td>
                        <td><%= b.room_number %> <%= b.room_no2 %> <%= b.room_no3 %> <%= b.room_no4 %> <%= b.room_no5 %> <%= b.room_no6 %> <%= b.room_no7 %> <%= b.room_no8 %> <%= b.room_no9 %> <%= b.room_no10 %> <%= b.room_no11 %> <%= b.room_no12 %> <%= b.room_no13 %> <%= b.room_no14 %> <%= b.room_no15 %> <%= b.room_no16 %> <%= b.room_no17 %> <%= b.room_no18 %> <%= b.room_no19 %> <%= b.room_no20 %> <%= b.room_no21 %> <%= b.room_no22 %> <%= b.room_no23 %> <%= b.room_no24 %> <%= b.room_no25 %> <%= b.room_no26 %> <%= b.room_no27 %>
                          <%= b.room_no28 %> <%= b.room_no29 %> <%= b.room_no30 %>
                        </td>
                        <td><%= b.days %></td>
                        <td><%= b.total %></td>
                        <td><%= b.disc_amount %></td>
                        <td><%= b.checked_out? ? "\u2717" : "\u2713" %></td>
                        <td><%= b.created_at.strftime("%d %b. %Y. %H : %M") %></td>
                        <td><%= (b.created_at + b.days.days).strftime("%d %b.") %></td>
                        <% if b.checked_out == true %>
                        <td><%= b.updated_at.strftime("%d %b. %Y. %H : %M") %></td>
                        <% elsif b.checked_out == false %>
                        <td> in </td>
                        <% end %>
                        <td><%= link_to "Open", customer_path(b.customer_id), class: "btn btn-primary btn-xs" %></td>
                      </tr>
                    <% end %>

                <% else %>  

                    <% if b.rollback == nil || b.rollback == false %>
                      <tr class="existing--inguest">
                        <td><%= b.customer_first_name %> <%= b.customer_last_name %></td>
                        <td><%= b.phone_number %></td>
                        <td><%= b.room_number %> <%= b.room_no2 %> <%= b.room_no3 %> <%= b.room_no4 %> <%= b.room_no5 %> <%= b.room_no6 %> <%= b.room_no7 %> <%= b.room_no8 %> <%= b.room_no9 %> <%= b.room_no10 %> <%= b.room_no11 %> <%= b.room_no12 %> <%= b.room_no13 %> <%= b.room_no14 %> <%= b.room_no15 %> <%= b.room_no16 %> <%= b.room_no17 %> <%= b.room_no18 %> <%= b.room_no19 %> <%= b.room_no20 %> <%= b.room_no21 %> <%= b.room_no22 %> <%= b.room_no23 %> <%= b.room_no24 %> <%= b.room_no25 %> <%= b.room_no26 %> <%= b.room_no27 %>
                          <%= b.room_no28 %> <%= b.room_no29 %> <%= b.room_no30 %>
                        </td>
                        <td><%= b.days %></td>
                        <td><%= b.total %></td>
                        <td><%= b.disc_amount %></td>
                        <td><%= b.checked_out? ? "\u2717" : "\u2713" %></td>
                        <td><%= b.created_at.strftime("%d %b. %Y. %H : %M") %></td>
                        <td><%= (b.created_at + b.days.days).strftime("%d %b.") %></td>
                        <% if b.checked_out == true %>
                        <td><%= b.updated_at.strftime("%d %b. %Y. %H : %M") %></td>
                        <% elsif b.checked_out == false %>
                        <td> in </td>
                        <% end %>
                        <td><%= link_to "Open", customer_path(b.customer_id), class: "btn btn-primary btn-xs" %></td>
                      </tr>
                    <% end %>

                  <% end %>

                <% end %>
              <% end %>
            </tbody>
            </thead>
          </table>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
  $("#add_customer").hide();
  $("#rec--bookings").hide();
  $("#rec--checkouts").hide();
  $("#bookdialog0").hide();
  $("#bookdialog1").hide();
  $("#bookdialog2").hide();
  $("#bookdialog3").hide();

  $("#bookbutton0").click(function(){
    $("#bookdialog1").hide();
    $("#bookdialog2").hide();
    $("#bookdialog3").hide();
    $("#bookdialog0").toggle();
    console.log('hola');
  })
  $("#bookbutton1").click(function(){
    $("#bookdialog0").hide();
    $("#bookdialog2").hide();
    $("#bookdialog3").hide();
    $("#bookdialog1").toggle();
  })
  $("#bookbutton2").click(function(){
    $("#bookdialog0").hide();
    $("#bookdialog1").hide();
    $("#bookdialog3").hide();
    $("#bookdialog2").toggle();
  })
  $("#bookbutton3").click(function(){
    $("#bookdialog0").hide();
    $("#bookdialog1").hide();
    $("#bookdialog2").hide();
    $("#bookdialog3").toggle();
  })

  $("#cust_button").click(function(){
    $("#add_customer").toggle();
  })
  $("#header-bills").click(function(){
    $("#header-books").addClass('head--not-active');
    $("#header-nots").addClass('head--not-active');
    $(this).removeClass('head--not-active');
    $("#rec--bookings").hide();
    $("#rec--checkouts").hide();
    $("#rec--bills").show();
  })
  $("#header-books").click(function(){
    $("#header-bills").addClass('head--not-active');
    $("#header-nots").addClass('head--not-active');
    $(this).removeClass('head--not-active');
    $("#rec--checkouts").hide();
    $("#rec--bills").hide();
    $("#rec--bookings").show();
  })
  $("#header-nots").click(function(){
    $("#header-bills").addClass('head--not-active');
    $("#header-books").addClass('head--not-active');
    $(this).removeClass('head--not-active');
    $("#rec--bookings").hide();
    $("#rec--bills").hide();
    $("#rec--checkouts").show();
  })
  $('#example').DataTable( {
      "scrollY":        "200px",
      "scrollCollapse": false,
      "paging":         false
  })
</script>
