	<%= search_form_for @search, :html => {:class => "form-inline center"} do |f| %>
		<div class="form-group">
		<%= f.label :first_name_cont, "First name", class: "sr-only" %>
		<%= f.search_field :first_name_cont, class: "form-control", placeholder: "First name" %>
	    </div>
	    <div class="form-group">
		<%= f.label :last_name_cont, "last name", class: "sr-only" %>
		<%= f.search_field :last_name_cont, class: "form-control", placeholder: "Last name" %>
		</div>
		<div class="form-group">
		<%= f.label :phone_number_cont, "sex", class: "sr-only" %>
		<%= f.search_field :phone_number_cont, class: "form-control", placeholder: "Phone number" %>
		</div>
		<div class="form-group">
		<%= f.submit "\u2315", class: "form-control"  %>
		</div>
	<% end %>
	<button type="button" class="btn btn-info glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal" style="margin-left:50%; margin-top:5px"> </button>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
        </div>
        <div class="container">
	      <%= form_for(@customer) do |f| %>
		  <div class="form-group row" style="margin-top:10px">
		    <%= f.label :first_name, class: "col-xs-2 col-form-label" %>
		    <div class="col-xs-3">
		      <%= f.text_field :first_name, class: "form-control" %>
		    </div>
		  </div>

		  <div class="form-group row">
		    <%= f.label :last_name, class: "col-xs-2 col-form-label" %>
		    <div class="col-xs-3">
		      <%= f.text_field :last_name, class: "form-control" %>
		    </div>
		  </div>

		  <div class="form-group row">
		    <%= f.label :phone_number, class: "col-xs-2 col-form-label" %>
		    <div class="col-xs-3">
		      <%= f.text_field :phone_number, class: "form-control" %>
		    </div>
		  </div>

		  <div class="form-group row">
		    <%= f.label :sex, class: "col-xs-2 col-form-label" %>
		    <div class="col-xs-3">
		      <%= f.select :sex, {'m' => "male", 'f' => "female"}%>
		    </div>
		  </div>  		    
	    </div>
        <div class="modal-footer">
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
    </div>
