<div id="wrapper" class="col-md-6">
<div id="sidebar-wrapper" style="top:0">
	  <ul class="sidebar-list">  
	    <a href="/">
	          <span class="glyphicon glyphicon-home" style="font-size:40px; margin:10px 40%; color:gray"></span>
	    </a>
	    <div class="user_profile_container" style="text-align:center">
	    	<%= image_tag "img-male", size: "156x150", style: "margin:0 18%" %>
	    	<li>
	    	<span class="glyphicon glyphicon-user"> chin
	    	</li>
	    </div>
	    <li> 
		 <span class="glyphicon glyphicon-file"> <a href="/registration.pdf">Registration form</a>
		</li>
	    <li>
		 <span class="glyphicon glyphicon-modal-window"> <%= link_to "Room type", room_categories_path %>
		</li>
		<li>
		 <span class="glyphicon glyphicon-home"> <%= link_to "Rooms", rooms_path %>
		</li>
		<li> 
		 <span class="glyphicon glyphicon-user"> <%= link_to "Customers", customers_path %>
		</li>
		<li> 
		 <span class="glyphicon glyphicon-duplicate"> <%= link_to "All Bookings", book_rooms_path %>
		</li>
		<li> 
		 <span class="glyphicon glyphicon-folder-open"> <%= link_to "All Bills", bill_containers_path %>
		</li>
		<li> 
	     <span class="glyphicon glyphicon-bookmark"> <a href="/bills">Search Receipt number</a>
	    </li>
		<li> 
		 <span class="glyphicon glyphicon-book"> <%= link_to "Make Reservation", reservations_path %>
		</li>
		<li> 
	     <span class="glyphicon glyphicon-warning-sign"> <a href="/cityledger">Unpaid Bills</a>
	    </li>
	    <li> 
	     <span class="glyphicon glyphicon-trash"> <a href="/bin">Recycle Bin</a>
	    </li>
	    <li> 
	     <span class="glyphicon glyphicon-log-out"> <%= link_to "Log out", log_out %>
	    </li>
	  </ul>
	</div>
	</div>
