<li>
  <%= link_to "Room type", room_categories_path %>
</li>
<li>
  <%= link_to "Rooms", rooms_path %>
</li>
<li> 
  <%= link_to "Customers", customers_path %>
</li>
<li> 
  <%= link_to "All Bookings", book_rooms_path %>
</li>
<li> 
  <%= link_to "All Bills", bill_containers_path %>
</li>


<h1>Unicode Icons</h1>

&#8358; - naira

<h4>C/C++/Java source code: </h4>
Edit "\u270E" ---> <%= "\u270E" %><br>
Back "\u2190" ---> <%= "\u2190" %><br>
Submit "\u27A1" ---> <%= "\u27A1" %><br>
False "\u274C" ---> <%= "\u274C" %><br>
False black "\u2717" ---> <%= "\u2717" %><br>
True "\u2713" ---> <%= "\u2713" %><br>
