<div class="col-md-8 paper-box">
<p id="notice"><%= notice %></p>
<div class="col-md-3">
  <% if @room_category.name == "Standard room" %>
  <%= image_tag "standard-room", size: "136x130" %>
  <% elsif @room_category.name == "Executive room" %>
  <%= image_tag "executive-room", size: "136x130" %>
  <% elsif @room_category.name == "Executive Luxury" %>
  <%= image_tag "executive-room", size: "136x130" %>
  <% elsif @room_category.name == "Royal Room" %>
  <%= image_tag "royal-room", size: "136x130" %>
  <% elsif @room_category.name == "Royal Plus" %>
  <%= image_tag "royal-plus", size: "136x130" %>
  <% elsif @room_category.name == "Executive Suite" %>
  <%= image_tag "executive-suite", size: "136x130" %>
  <% elsif @room_category.name == "Royal Suite" %>
  <%= image_tag "royal-suite", size: "136x130" %>
  <% elsif @room_category.name == "Presidential Suite" %>
  <%= image_tag "presidential-suite", size: "136x130" %>
  <% end  %>
</div>
<div class="col-md-6">
  <div class="room-desc-container">
    <p>
      <strong>Name:</strong>
      <%= @room_category.name %>
    </p>

    <p>
      <strong>Price:</strong>
      &#8358; <%= @room_category.price %>
    </p>
    <%= link_to "\u270E", edit_room_category_path(@room_category) %><br>
    <%= link_to "\u2190", room_categories_path %>
    </div>
  </div>
</div>

<div class="col-md-12 paper-box">
<% @room_category.rooms.each do |room| %>
	<%= link_to room_path(room) do  %>
<% if room.availability == false %>
<div class="room-box box-red">
  <%= room.room_number %></br>
  <% if room.neatness == false %>
  <div class="neat-border border-red">
  </div>
  <% elsif room.neatness == true %>
  <div class="neat-border border-green">
  </div>
  <% end %>
</div>
<% elsif room.availability == true %>
<div class="room-box box-green">
  <%= room.room_number %></br>
  <% if room.neatness == false %>
  <div class="neat-border border-red">
  </div>
  <% elsif room.neatness == true %>
  <div class="neat-border border-green">
  </div>
  <% end %>
</div>
<% end %>
<% end %>
<% end %>
</div>