<!DOCTYPE html>
<html>
  <head>
    <title>HotelManagement</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  </head>
  <style type="text/css">
  	html, body {
  		background-color: rgba(243, 156, 18,0.1);
  	}
  </style>

  <body data-no-turbolink="true">
  	<% @lodged = BookRoom.all %> 
  	<% @rooms = Room.all %>
  	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href="/page"><span class="glyphicon glyphicon-font"></a> <a class="navbar-brand" href="/">Benny</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	      	<li><a type="button" data-toggle="modal" data-target="#myModal100">
              Checkout notification  
          	</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dirty <span class="caret"></span></a>		      
	          <ul class="dropdown-menu">
	          	<% @rooms.each do |d| %>
		          	<% if d.neatness == false %>
			            <li><%= link_to 'Room:'+d.room_number, room_path(d) %></li>
			        <% end %>
		        <% end %>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Available <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <% @rooms.each do |d| %>
			      <% if d.availability == true && d.neatness == true && d.faulty == true %>
			         <li><%= link_to 'Room:'+d.room_number+' Faulty', room_path(d) %></li>
			      <% elsif d.availability == true && d.neatness == true %>
			         <li><%= link_to 'Room:'+d.room_number, room_path(d) %></li>
			      <% end %>
			    <% end %>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Occupied <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <% @rooms.each do |d| %>
				  <% if d.availability == false && d.faulty == true %>
				    <li><%= link_to 'Room:'+d.room_number+' Faulty', room_path(d) %> </li>
				  <% elsif d.availability == false && d.faulty == nil %>
				    <li><%= link_to 'Room:'+d.room_number, room_path(d) %></li>
				  <% end %>
				<% end %>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Faulty <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <% @rooms.each do |d| %>
			      <% if d.faulty == true %>
			        <li><%= link_to 'Room:'+d.room_number, room_path(d) %></li>
			      <% end %>
			    <% end %>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div id="myModal100" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	      <h4 class="modal-title" id="myModalLabel">Over stay</h4>
	    </div>
	    <div class="container">
		  <% @rooms.each do |d| %>
		  <% @lodged = BookRoom.all %>
		  <% if d.availability == false %>
		    <% @lodged.each do |customer| %>
		    <% if customer.rollback == true %>
		    <% elsif customer.checked_out == false %>
			 	<% if (customer.created_at + customer.days.days).strftime("%d %b.") < Time.now.strftime("%d %b.") %>
				 	<% if customer.room == d.id || customer.room2 == d.id || customer.room3 == d.id || customer.room4 == d.id || customer.room5 == d.id || customer.room6 == d.id || customer.room7 == d.id || customer.room8 == d.id || customer.room9 == d.id || customer.room10 == d.id %>
					 	Room: <%= link_to d.room_number, room_path(d) %> |
					    <%= (customer.created_at + customer.days.days).strftime("%d %b.") %> |
					    <%= Time.now.strftime("%d %b.") %> <br>
			    	<% end %>
			 	<% else %>
			    <% end %>
			<% end %>    
			<% end %>
		  <% end %>
		  <% end %>
		</div>
	    <div class="modal-header">
	      <h4 class="modal-title" id="myModalLabel">Check out today</h4>
	    </div>
	    <div class="container">
		  <% @rooms.each do |d| %>
		  <% @lodged = BookRoom.all %>
		  <% if d.availability == false %>
		    <% @lodged.each do |customer| %>
		    <% if customer.rollback == true %>
		    <% elsif customer.checked_out == false %>
			    <% if (customer.created_at + customer.days.days).strftime("%d %b.") == Time.now.strftime("%d %b.") %> 
			    	<% if customer.room == d.id || customer.room2 == d.id || customer.room3 == d.id || customer.room4 == d.id || customer.room5 == d.id || customer.room6 == d.id || customer.room7 == d.id || customer.room8 == d.id || customer.room9 == d.id || customer.room10 == d.id %>
					    Room: <%= link_to d.room_number, room_path(d) %> |
					    <%= (customer.created_at + customer.days.days).strftime("%d %b.") %> |
					    <%= Time.now.strftime("%d %b.") %> <br>
					<% end %>    
			 	<% else %>
			    <% end %>
			<% end %>    
			<% end %>
		  <% end %>
		  <% end %>
		</div>
	    <div class="modal-header">
	      <h4 class="modal-title" id="myModalLabel">Checking out tomorrow</h4>
	    </div>
	    <div class="container">
		  <% @rooms.each do |d| %>
		  <% @lodged = BookRoom.all %>
		  <% if d.availability == false %>
		    <% @lodged.each do |customer| %>
		    <% if customer.rollback == true %>
		    <% elsif customer.checked_out == false %>
			    <% if (customer.created_at + customer.days.days).strftime("%d %b.") == (Time.now + 1.days).strftime("%d %b.") %> 
			    	<% if customer.room == d.id || customer.room2 == d.id || customer.room3 == d.id || customer.room4 == d.id || customer.room5 == d.id || customer.room6 == d.id || customer.room7 == d.id || customer.room8 == d.id || customer.room9 == d.id || customer.room10 == d.id %>
					    Room: <%= link_to d.room_number, room_path(d) %> |
					    <%= (customer.created_at + customer.days.days).strftime("%d %b.") %> |
					    <%= Time.now.strftime("%d %b.") %> <br>
					<% end %>    
			 	<% else %>
			    <% end %>
			<% end %>    
			<% end %>
		  <% end %>
		  <% end %>
		</div>
	    <div class="modal-header">
	      <h4 class="modal-title" id="myModalLabel">Checking out next tomorrow</h4>
	    </div>
	    <div class="container">
		  <% @rooms.each do |d| %>
		  <% @lodged = BookRoom.all %>
		  <% if d.availability == false %>
		    <% @lodged.each do |customer| %>
		    <% if customer.rollback == true %>
		    <% elsif customer.checked_out == false %>
			    <% if (customer.created_at + customer.days.days).strftime("%d %b.") == (Time.now + 2.days).strftime("%d %b.") %> 
			    	<% if customer.room == d.id || customer.room2 == d.id || customer.room3 == d.id || customer.room4 == d.id || customer.room5 == d.id || customer.room6 == d.id || customer.room7 == d.id || customer.room8 == d.id || customer.room9 == d.id || customer.room10 == d.id %>
					    Room: <%= link_to d.room_number, room_path(d) %> |
					    <%= (customer.created_at + customer.days.days).strftime("%d %b.") %> |
					    <%= Time.now.strftime("%d %b.") %> <br>
				    <% end %>
			 	<% else %>
			    <% end %>
			<% end %>    
			<% end %>
		  <% end %>
		  <% end %>
		</div>
	    <div class="modal-footer">
	    </div>
	  </div>
	</div>
	</div>
  	
	
	

	<!-- /#sidebar-wrapper -->
	  <div class="" style="padding: 0 5px">
	      <%= yield %>
	  </div>



	<!-- Menu Toggle Script -->
	<script>
	$("#menu-toggle").click(function(e) {
	    e.preventDefault();
	    $("#wrapper").toggleClass("toggled");
	});
		/* DROPDOWN CLASS DEFINITION
	  * ========================= */

	  var toggle = '[data-toggle="dropdown"]'
	    , Dropdown = function (element) {
	        var $el = $(element).on('click.dropdown.data-api', this.toggle)
	        $('html').on('click.dropdown.data-api', function () {
	          $el.parent().removeClass('open')
	        })
	      }

	  Dropdown.prototype = {

	    constructor: Dropdown

	  , toggle: function (e) {
	      var $this = $(this)
	        , $parent
	        , selector
	        , isActive

	      if ($this.is('.disabled, :disabled')) return

	      selector = $this.attr('data-target')

	      if (!selector) {
	        selector = $this.attr('href')
	        selector = selector && selector.replace(/.*(?=#[^\s]*$)/, '') //strip for ie7
	      }

	      $parent = $(selector)
	      $parent.length || ($parent = $this.parent())

	      isActive = $parent.hasClass('open')

	      clearMenus()

	      if (!isActive) $parent.toggleClass('open')

	      return false
	    }

	  }

	  function clearMenus() {
	    $(toggle).parent().removeClass('open')
	  }


	  /* DROPDOWN PLUGIN DEFINITION
	   * ========================== */

	  $.fn.dropdown = function (option) {
	    return this.each(function () {
	      var $this = $(this)
	        , data = $this.data('dropdown')
	      if (!data) $this.data('dropdown', (data = new Dropdown(this)))
	      if (typeof option == 'string') data[option].call($this)
	    })
	  }

	  $.fn.dropdown.Constructor = Dropdown


	  /* APPLY TO STANDARD DROPDOWN ELEMENTS
	   * =================================== */

	  $(function () {
	    $('html').on('click.dropdown.data-api', clearMenus)
	    $('body')
	      .on('click.dropdown', '.dropdown form', function (e) { e.stopPropagation() })
	      .on('click.dropdown.data-api', toggle, Dropdown.prototype.toggle)
	  })
	</script>
  </body>
</html>
